body {
    margin: 0;
    font-family: Arial, sans-serif;
    background-color: #121213;
    color: #E0E0E0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}


header,
main,
footer {
    padding-left: 20px;
    padding-right: 20px;
}

img {
    max-width: 100%;
    height: auto;
    display: block;
}

/* Container */
.container {
    max-width: 1360px;
    width: 100%;
    margin: 0 auto;
    padding: 0 20px;
    box-sizing: border-box;
}

/* Header */
.header {
    background-color: rgba(26, 26, 27, 0.9);
}

.flex-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 90px;
}

.flex-nav-items {
    display: flex;
    list-style: none;
    padding: 10px 25px;
    margin: 0;
    background-color: rgba(255, 255, 255, 0.05);
    border: 2px solid rgba(224, 224, 224, 0.1);
    border-radius: 50px;
    box-shadow: 0 5px 30px rgba(255, 255, 255, 0.07);
    backdrop-filter: blur(10px);
}

.nav-item-link {
    padding: 10px 20px;


}



.flex-nav-items a {
    text-decoration: none;
    color: #E0E0E0;
    transition: color 0.4s ease;

}

.flex-nav-items a:after {
    content: '';
    display: block;
    width: 0;
    height: 2px;
    background: #FF8A80;
    transition: width 0.5s;
    position: relative;
    bottom: -5px;
}

.flex-nav-items a:hover::after {
    width: 100%;
    bottom: -5px;

}


.flex-nav-items a:hover {
    color: #FF8A80;
}

/* Main layout */
.main-section {
    flex-grow: 1;
    display: flex;
    align-items: center;
}

/* Footer */
.footer-contacts {
    max-width: 400px;
    width: 100%;
    box-shadow: 10px 0 5px -10px rgb(255, 138, 128, 0.3);
}

.call-me {
    padding-top: 10px;
    max-width: 400px;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;

}

.call-section-content {

    display: flex;
    align-items: center;
    justify-content: center;
    gap: 10px;
    padding: 0 60px;
    text-align: center;
    color: #ffffff;

}

.call-section-content img {
    position: relative;
    bottom: -10px;
    width: 20px;
    height: auto;
    display: block;
}

.call-me-link {
    display: inline-flex;
    align-items: center;
    padding: 15px 40px;
    border: 1px solid #a4715c;
    border-radius: 50px;
    text-decoration: none;
    color: #FF8A80;
    font-size: 18px;
    gap: 15px;
    transition: all 0.5s ease;
}

.call-me-link:hover {
    background-color: #a4715c;
    color: #ffffff;
}

.footer-info {
    max-width: 400px;
    width: 100%;
    text-align: center;
    padding-left: 10px;
    box-shadow: -10px 0 5px -10px rgb(255, 138, 128, 0.3);
}

.background-footer {
    background-color: rgba(26, 26, 27, 0.9);

    width: 100%;
}

.footer-content {
    display: flex;
    justify-content: space-between;
    padding-bottom: 20px;

    box-shadow: 1px 10px 5px -10px rgb(255, 138, 128, 0.5);

}



.footer-contacts ul {
    list-style: none;
    padding: 0;
}

.footer-contacts-title {
    padding-bottom: 30px;

}

.footer-contacts a {
    color: #E0E0E0;
    text-decoration: none;
}

.footer-info-title {
    font-size: 24px;
    margin-bottom: 40px;
    color: #ffffff;

}

.footer-info-description {
    font-size: 16px;
    line-height: 1.5;
    margin-bottom: 30px;
    color: #d1d1d1;
}

.footer-info-link {
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.footer-info-link img {
    width: 24px;
    height: 24px;
    transition: transform 0.2s ease;
}

.footer-info-link img:hover {
    transform: scale(1.1);
}




.flex-contacts p {
    padding-right: 10px;
    margin: 0;
}

.flex-contacts {
    display: flex;

}

.contacts-svg {
    padding-right: 20px;
}

.contacts-svg:hover {
    cursor: pointer;
}



.contacts-list li {
    padding-bottom: 10px;
}

.flex-contacts a:hover {
    color: #FF8A80;
    transition: color 1s;
}

.footer-copyright {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 40px;

}