.main-flex {
    padding: 40px 0;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    flex-wrap: wrap;

}

body {
    background-image: url(../images/background-contacts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}


.gallery-content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
}

.gallery-link {
    text-decoration: none;
    color: #FF8A80;
}