.main-flex {
    padding: 40px 0;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
}

body {
    background-image: url(../images/background-contacts.png);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.backcall {
    max-width: 400px;
    width: 100%;
    padding: 30px;
    background-color: #1A1A1B;
    border-radius: 10px;
    text-align: center;
}

.backcall-content {
    margin-bottom: 15px;
    text-align: left;

}

.backcall-items {
    width: 100%;
    padding: 10px;



}